html,body,div,span,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,a,em,img,q,strong,ol,ul,li,dl,dt,dd,form,fieldset,label,input,textarea,table,tr,th,td,article,aside,footer,header,hgroup,menu,nav,section,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article,aside,footer,header,hgroup,menu,nav,section{display:block;}
a{color:inherit;text-decoration:none;outline:none;}
ol,ul{list-style:none;}
img,small{display:block;}
