html, body {
	height: 100%;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
}

header {
	font: 300 16px/1.5 "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	padding: 20px 20px 60px;
}

h1 {
	font-size: 2em;
	font-weight: 700;
	line-height: 1.2;
	margin: 0;
}

p {
	display: flex;
	font-size: .75em;
	font-weight: 600;
	line-height: 1.2;
	margin: 0;
	padding-left: 1px;
	text-transform: uppercase;

	span {
		font-weight: 500;
		padding: 0 .3em;
	}
}

.work {
	margin-left: auto;
	color: #05c;
	text-decoration: none;

	&:focus,
	&:hover {
		text-decoration: underline;
	}
}
