html,body,span,h1,p,a,ul,li,aside,footer,header,nav,section{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article,aside,footer,header,nav,section{display:block;}
a{color:inherit;text-decoration:none;outline:none;}
ul{list-style:none;}

html {
	width: 100%;
	height: 100%;
}

header {
	font: 300 16px/1.5 "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	position: absolute;
	margin: 20px 20px 60px;
	top: 45%;
	left: 50%;
	transform: translate(-50%);
}

h1 {
	font-size: 2em;
	font-weight: 700;
	line-height: 1.2;
	margin: 0;
}

p {
	font-size: 12px;
	font-weight: 600;
	line-height: 1.2;
	margin: 0;
	padding-left: 1px;
	text-transform: uppercase;

	span {
		font-weight: 500;
	}
}

.work {
	display: inline-block;
	float: right;
	color: #05c;
	&:hover {
		text-decoration: underline;
	}
}
