html {
	height: 100%;
	display: grid;
	place-items: center;
	background: #f8f8f8;
	color: #1a1a1a;

	@media (prefers-color-scheme: dark) {
		background: #1a1a1a;
		color: #f8f8f8;
	}
}

body {
	margin: 20px 20px 60px;
	font: 300 16px/1.5 "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

h1 {
	font-size: 2em;
	font-weight: 700;
	line-height: 1.2;
	margin: 0;
}

ul {
	display: flex;
	list-style: none;
	font-size: .72em;
	font-weight: 600;
	line-height: 1.2;
	margin-block: 0.5em 0;
	padding-left: 1px; // Visual balance
	text-transform: uppercase;
	transition: opacity 0.1s ease-out;

	&:has(li:empty) {
		// Hide list while it has an empty (loading) item to prevent the items shifting
		opacity: 0;
	}

	li:empty {
		display: none;
	}

	li:not(:empty) + li:before {
		content: '•';
		font-weight: 500;
		padding-inline: .3em;
	}
}

a {
	color: #05c;
	text-decoration: none;

	@media (prefers-color-scheme: dark) {
		color: #38f;
	}

	&:focus,
	&:hover {
		text-decoration: underline;
	}
}
